/* NAVBAR */
#menu {
  font-family: 'Glacial Indifference';
  color: #363636;
  height: 40px;
  position: relative;
}

#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#menu ul {
  width: 100%;
}

#menu li {
  float: left;
  display: inline;
  position: relative;
}

#menu a {
  display: block;
  line-height: 40px;
  padding: 0 10px;
  text-decoration: none;
  color: #363636;
  font-size: 15px;
}

#menu li a:hover {
  border-radius: 10px;
  color: white;
  background: #363636;
  transition: all 0.5s ease-out;
}

#menu li a {
  transition: all 0.5s ease-out;
}

hr {
  margin: 10% 10% 10% 10%;
}

/*  MODELS' GRID */
#models_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}

#models_grid div {
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  padding: 5%;
  font-size: 25px;
}

#models_grid a {
  text-decoration: none;
}

#models_grid img {
  display: inline-block;
  margin: 5px;
  width: 75px;
}


iframe {
  width: 75%;
  height: 200px;
  display: block;
  border: none;
  margin: 0 auto;
}